@import "../variables.scss";
.wrapper {
  height: fit-content;
  min-height: 869px;
  position: relative;
  background-color: white;
  margin: 0 auto;
  background-image: url("/images/background-campaign.svg");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    max-width: $max-width-container;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    gap: 57px;
    .leftBlock {
      margin-top: 100px 0;
      img {
        object-fit: contain;
      }
      margin-bottom: 60px;
    }
    .cubeImage {
      display: none;
    }
    .rightBlock {
      margin-top: 100px 0;
      display: flex;
      justify-content: space-between;
      height: 825px;
      max-width: 708px;
    }
    .joinCampaign {
      margin: 30px 0 32px 0;
      width: 185px;
      height: 48px;
      display: flex;
      position: relative;
    }
    .rightArrow {
      position: absolute;
      right: 7%;
    }
    .mobileJoinCampaign {
      display: none;
    }
    .mobileTitle {
      display: none;
    }
    .mobileDescription {
      display: none;
    }
    .title {
      font-family: "Orbitron";
      font-weight: 700;
      font-size: 46px;
      line-height: 55.2px;
      letter-spacing: 2%;
      .highlightText {
        color: #2563eb;
      }
    }
    .description {
      font-family: "Inter";
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      margin-top: 16px;
      color: #768298;
    }
    .contentSecond {
      max-height: 395px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .question {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "Inter";
        font-size: 24px;
        font-weight: 500;
        line-height: 26.4px;
        padding: 12px 28px 12px 12px;
        border-radius: 16px;
      }
      .leftQuestion {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .activeQuestion {
        cursor: pointer;
        color: #2563eb;
      }
      .leftImage {
        width: 56px;
        height: 56px;
        margin-right: 13px;
      }
      .answers {
        font-family: "Inter";
        font-weight: 400;
        font-size: 18px;
        line-height: 25.2px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .wrapper {
    padding: 20px;
    height: 978px;
    background-image: none;
    height: fit-content;
    .container {
      padding-top: 0px;
      gap: 0px;
      display: flex;
      flex-direction: column;
      .leftBlock {
        img {
          width: 95vw;
          height: 473px;
          object-fit: contain;
        }
      }
      .title {
        display: none;
      }
      .joinCampaign {
        display: none;
      }
      .description {
        display: none;
      }
      .mobileJoinCampaign {
        margin: 30px 0 62px 0;
        width: 209px;
        display: flex;
        position: relative;
      }
      .mobileTitle {
        display: block;
        max-width: 260px;
        font-family: "Orbitron";
        font-weight: 700;
        font-size: 28px;
        line-height: 33.6px;
        text-align: left;
        .highlightText {
          color: #2563eb;
        }
      }
      .mobileDescription {
        display: flex;
        font-family: "Inter";
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        margin-top: 30px;
        color: #768298;
      }
      .contentSecond {
        margin: auto;
        top: 86%;
        height: fit-content;
        margin-bottom: 56px;
        width: 90vw;
        .question {
          backdrop-filter: blur(10px);
          font-size: 16px;
          border-radius: 24px;
          background-color: #f0f5ff;
        }
        .answers {
          font-size: 14px;
          background-color: #f0f5ff;
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .wrapper {
    margin-bottom: 107px;
    height: fit-content;
    max-height: 978px;
    .container {
      padding-top: 0px;
      gap: 0px;
      display: flex;
      flex-direction: column;
      .leftBlock {
        margin: auto;
        img {
          width: 70vw;
          height: 332px;
          padding-bottom: 29px;
          object-fit: contain;
        }
      }
      .title {
        display: none;
      }
      .joinCampaign {
        display: none;
      }
      .description {
        display: none;
      }
      .mobileJoinCampaign {
        margin: 30px 0 62px 0;
        width: 209px;
        display: flex;
        position: relative;
      }
      .mobileTitle {
        position: relative;
        display: block;
        max-width: 500px;
        font-family: "Orbitron";
        font-weight: 700;
        font-size: 28px;
        line-height: 33.6px;
        text-align: left;
        z-index: 11;
        .highlightText {
          color: #2563eb;
        }
      }
      .cubeImage {
        position: absolute;
        display: block;
        width: 65px;
        height: 62px;
        left: 80%;
        top: 10%;
      }
      .mobileDescription {
        display: flex;
        font-family: "Inter";
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        margin-top: 30px;
        color: #768298;
      }
      .contentSecond {
        margin: auto;
        top: 86%;
        height: fit-content;
        margin-bottom: 56px;
        .question {
          backdrop-filter: blur(10px);
          font-size: 16px;
          padding: 12px 32px 12px 12px;
          border-radius: 24px;
          background-color: #f0f5ff;
        }
        .leftImage {
          width: 44px;
          height: 44px;
        }
        .answers {
          font-size: 14px;
          background-color: #f0f5ff;
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
        }
      }
    }
  }
}
