@import "../variables.scss";

.wrapper {
  margin-top: 122px;
  position: relative;
  height: calc(100vh - 122px);
  .videoDesktop {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
    pointer-events: none;
  }
  .videoMobile {
    display: none;
    pointer-events: none;
  }
  .globeWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    .globelMobileWrapper {
      display: none;
    }
    .illustrationBarMobile {
      display: none;
    }
  }
  .infoWrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .container {
      max-width: $max-width-container;
      margin: auto;

      .leftInfo,
      .rightInfo {
        .title {
          color: #1b1b1d;
          font-size: 18px;
          font-weight: 700;
          line-height: 1;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding-bottom: 12px;
        }
        .bottomBlock {
          margin-top: -40px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          .number {
            color: #346af7;
          }
        }
      }
      .leftInfo {
        position: absolute;
        top: 123px;
        left: calc(50vw - 586px);
        text-align: left;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        svg {
          transform: scaleX(-1);
        }
        .title,
        .bottomBlock {
          padding-left: 24px;
        }
      }
      .rightInfo {
        position: absolute;
        top: 123px;
        right: calc(50vw - 586px);
        text-align: right;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        .title,
        .bottomBlock {
          padding-right: 24px;
        }
      }
    }
  }
}
@media screen and (max-width: $lg) {
  .wrapper {
    height: fit-content;
    .videoDesktop {
      height: 100vh;
    }
    .globeWrapper {
      padding: 0 18px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 35vh;
      justify-content: center;
      .globe {
        display: none;
      }
      .globelMobileWrapper {
        width: 356px;
        height: 356px;
        display: block;
        .globeMobile {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .illustrationBarMobile {
        display: block;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        .illustrationBarWrapper {
          width: 356px;
          position: absolute;
          bottom: 218px;
          left: 0;
          right: 0;
          margin: auto;
          img {
            width: 100%;
          }
        }
        .leftInfoMobile {
          padding-left: 20px;
          top: -5px;
          left: 0;
        }
        .rightInfoMobile {
          padding-right: 20px;
          top: 116px;
          right: 0;
          text-align: right;
        }
        .leftInfoMobile,
        .rightInfoMobile {
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            color: #1b1b1d;
            line-height: 1;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          .bottomBlock {
            color: #54545c;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 1px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            span {
              color: #346af7;
              font-weight: 500;
            }
          }
        }
      }
    }
    .infoWrapper {
      .container {
        .leftInfo,
        .rightInfo {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: $sm) {
  .wrapper {
    height: calc(100vh - 56px);
    margin-top: 56px;
    .videoDesktop {
      display: none;
    }
    .videoMobile {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
    .globeWrapper {
      padding-bottom: 80px;
    }
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    .globeWrapper {
      padding-bottom: 40px;
      .globelMobileWrapper {
        width: 330px;
        height: 330px;
      }
      .illustrationBarMobile {
        .illustrationBarWrapper {
          width: 330px;
          position: absolute;
          bottom: 205px;
          left: 0;
          right: 0;
          margin: auto;
          img {
            width: 100%;
          }
        }
        .leftInfoMobile {
          padding-left: 20px;
          top: -5px;
          left: 0;
        }
        .rightInfoMobile {
          padding-right: 20px;
          top: 107px;
          right: 0;
          text-align: right;
        }
        .leftInfoMobile,
        .rightInfoMobile {
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}
