@import "./variables.scss";
// @font-face {
//   font-family: "SF Pro Display";
//   src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
//   font-weight: 400;
//   font-display: sans-serif;
// }

// @font-face {
//   font-family: "SF Pro Display";
//   src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
//   font-weight: 700;
//   font-display: sans-serif;
// }

// @font-face {
//   font-family: "SF Pro Display";
//   src: url("/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
//   font-weight: 600;
//   font-display: sans-serif;
// }

// @font-face {
//   font-family: "SF Pro Display";
//   src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
//   font-weight: 500;
//   font-display: sans-serif;
// }

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #1b1b1d;
  background-color: #f9f9f9;
  font-family: SF Pro Display, sans-serif;
}

.content-body {
  min-height: 100vh;
  // margin-top: 122px;
}

main {
  // overflow: hidden;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

#product-features {
  .slick-dots {
    li {
      margin: 0 4px;
      width: fit-content;
      height: fit-content;
      div {
        width: 40px;
        height: 3px;
        background-color: #d9d9d9;
      }
    }
    .slick-active {
      div {
        background-color: #3c9bff !important;
        width: 118px !important;
      }
    }
  }
}

#products-showcase {
  .slick-list {
    height: 264px;
  }
  .slick-dots {
    bottom: -20px;
    height: 6px;
    ul {
      height: 6px;
      li {
        margin: 0 4px;
        height: 6px;
        width: 32px;
        div {
          width: 32px;
          height: 6px;
          background-color: rgba(52, 106, 247, 0.2);
          border: none;
          border-radius: 54px;
        }
        &.slick-active {
          background-color: #346af7;
          border-radius: 54px;
        }
      }
    }
  }
}

#product-image-slider {
  .slick-dots {
    bottom: -30px !important;
  }
  .slick-dots ul {
    list-style-type: none;
  }
  .slick-dots li.slick-active div {
    background-color: #346af7 !important;
  }
  .slick-dots li div {
    width: 100%;
    background-color: #d9d9d9;
    height: 2px;
  }
  .slick-dots li {
    width: 16px !important;
  }
  .slick-dots li.slick-active {
    width: 36px !important;
  }
}

// ******** Slider screen ********
#products-hightlight {
  .slick-slide {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
  }
  .slick-slide img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
  }
  .slick-center {
    background-image: url("/images/product-service/phone-screen/phone15.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
  }
  .slick-dots {
    bottom: -30px !important;
  }
  .slick-dots ul {
    list-style-type: none;
  }
  .slick-dots li.slick-active div {
    background-color: #346af7 !important;
  }
  .slick-dots li div {
    width: 100%;
    background-color: #d9d9d9;
    height: 2px;
  }
  .slick-dots li {
    width: 16px !important;
  }
  .slick-dots li.slick-active {
    width: 36px !important;
  }
}

@media screen and (max-width: $sm) {
  #products-showcase {
    .slick-list {
      height: 250px;
    }
    .slick-dots {
      bottom: -12px;
      height: 4px;
      ul {
        height: 4px;
        li {
          height: 4px;
          width: 20px;
          div {
            width: 20px;
            height: 4px;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
