@import "../variables.scss";
.wrapper {
    .bannerDesktop {
        width: 100%;
        height: auto;
    }
    .bannerMobile {
        display: none;
    }
    .aboutNott {
        margin: 100px 0;
        background-image: url("/images/about-nott-bg.png");
        background-repeat: no-repeat;
        .container {
            max-width: $max-width-container;
            margin: auto;
            display: flex;
            align-items: center;
            gap: 50px;
            flex-direction: column;
            .header {
                display: flex;
                width: 1320px;
                flex-direction: column;
                gap: 16px;
                .overview {
                    font-family: "Orbitron";
                    font-size: 46px;
                    font-weight: 600;
                    line-height: 55px;
                    letter-spacing: 2%;
                }
                .description {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    color: #4c5e80;
                }
            }
            .content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .overviewItem {
                    display: flex;
                    align-items: flex-start;
                    padding: 64px 100px;
                    gap: 44px;
                    cursor: pointer;
                    box-sizing: border-box;
                    &:first-child {
                        border-right: 1px solid #e3edff;
                        border-bottom: 1px solid #e3edff;
                    }
                    &:nth-child(2) {
                        border-bottom: 1px solid #e3edff;
                    }
                    &:nth-child(3) {
                        border-right: 1px solid #e3edff;
                    }
                    &:hover {
                        border-top: 6px solid #2563eb;
                        padding: 58px 100px 64px 100px;
                        .leftBlock {
                            svg {
                                path {
                                    fill: #2563eb;
                                    stroke: #2563eb;
                                }
                            }
                        }
                        .rightBlock {
                            .title {
                                color: #2563eb;
                            }
                        }
                    }
                    .leftBlock {
                        svg {
                            path {
                                fill: #0f244d;
                                stroke: #0f244d;
                            }
                        }
                    }
                    .iconMobile {
                        display: none;
                    }
                    .rightBlock {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        .title {
                            font-family: "Orbitron";
                            font-size: 24px;
                            line-height: 26px;
                            font-weight: 600;
                            color: #0f244d;
                        }
                        .description {
                            color: #4c5e80;
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $lg) {
    .wrapper {
        .aboutNott {
            .container {
                .header {
                    width: 95vw;
                    padding: 0 16px;
                }
                .content {
                    .overviewItem {
                        padding: 30px 16px;
                        gap: 22px;
                        &:hover {
                            padding: 24px 16px 30px 16px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .wrapper {
        .bannerDesktop {
            display: none;
        }
        .bannerMobile {
            display: block;
            width: 100%;
            height: auto;
        }
        .aboutNott {
            margin: 64px 0;
            .container {
                gap: 32px;
                .header {
                    width: 95vw;
                    gap: 24px;
                    .title {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .overview {
                        font-size: 28px;
                        font-weight: bold;
                        line-height: 34px;
                        margin-top: -16px;
                    }
                    .description {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        max-width: 100%;
                    }
                }
                .content {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                    width: 100%;
                    overflow-x: auto;
                    padding-left: 16px;
                    .overviewItem {
                        padding: 12px;
                        gap: 12px;
                        flex-direction: column;
                        &:first-child {
                            border-right: none;
                            border-bottom: none;
                        }
                        &:nth-child(2) {
                            border-bottom: none;
                        }
                        &:nth-child(3) {
                            border-right: none;
                        }
                        &:hover {
                            border-top: none;
                            padding: 12px;
                            .leftBlock {
                                svg {
                                    path {
                                        fill: #0f244d;
                                        stroke: #0f244d;
                                    }
                                }
                            }
                            .rightBlock {
                                .title {
                                    color: #0f244d;
                                }
                            }
                        }
                        .leftBlock {
                            display: none;
                        }
                        .iconMobile {
                            display: block;
                            width: 44px;
                            height: 44px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .rightBlock {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;
                            .title {
                                font-family: "Orbitron";
                                font-size: 16px;
                                line-height: 22px;
                                font-weight: 700;
                                letter-spacing: 2%;
                            }
                            .description {
                                font-size: 14px;
                                line-height: 24px;
                                width: 269px;
                            }
                        }
                    }
                }
            }
        }
    }
}