@import "../variables.scss";

.container {
  width: 100%;
  background-color: #001633;

  .content {
    max-width: $max-width-container;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 160px;
    padding-bottom: 160px;
    .benefits {
      .benefit {
        margin-top: 75px;
        &::before {
          content: "";
          display: block;
          height: 3000vh;
        }
        .stickyEl {
          position: sticky;
          position: -webkit-sticky;
          bottom: 50px;

          .imageContainer {
            position: relative;
            width: 546px;
            height: auto;

            .deviceFrame {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            .imageWrapper {
              position: absolute;
              top: 30px;
              right: 37px;
              margin: auto;
              width: 100%;
              width: 264px;
              height: auto;
              transition: opacity 300ms ease-in-out;
            }
          }
          .rightBlock {
            position: relative;
            flex: 1;
            .descriptionContainer {
              position: absolute;
            }
          }
        }
      }
    }
    .blockTop {
      background-image: url("/images/feature-benefit-bg.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      display: flex;
      flex-direction: column;
      min-height: 754px;
      gap: 60px;
      justify-content: end;

      .header {
        display: flex;
        gap: 12px;
        align-items: flex-end;
        height: 110px;

        .title {
          width: 300px;
          color: white;
          font-size: 46px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: 0.92px;
        }

        .description {
          width: 400px;
          color: white;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          opacity: 0.7;
        }
      }

      .featureBenefitContainer {
        display: flex;
        gap: 24px;
        height: 424px;
        overflow-x: auto;

        .featureBenefit {
          display: flex;
          flex-direction: column;
          gap: 40px;
          padding: 114px 32px 90px 32px;
          min-width: 360px;

          .title {
            color: #ffdc60;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            /* 33.6px */
            letter-spacing: -1.08px;
          }

          .description {
            color: white;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 25.2px */
            letter-spacing: -0.81px;
            width: 248px;
          }
        }
      }
    }

    .blockBottom {
      display: flex;
      gap: 126px;

      .imageContainer {
        .frameWrapper {
          display: flex;
          align-items: center;
          .smartWatch {
            margin-right: -150px;
            width: 370px;
            height: 370px;
            object-fit: contain;
          }
          .iphone {
            width: 312px;
            height: 629px;
            object-fit: contain;
          }
        }
        .image {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }

      .descriptionContainer {
        margin: auto;

        .type {
          color: #7890c0;

          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          /* 28px */
          letter-spacing: -0.9px;
        }

        .title {
          color: #ffdc60;

          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          /* 44.8px */
          letter-spacing: -1.44px;
        }

        .description {
          list-style-type: none;
          padding: 0;
          margin-top: 60px;

          li {
            p {
              color: #e0ebff;

              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              /* 28px */
            }

            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .container {
    width: 100%;
    background-color: #001633;

    .content {
      max-width: $max-width-container;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 100px;
      padding: 0px 16px 64px 16px;

      .blockTop {
        background: none;
        display: flex;
        flex-direction: column;
        min-height: 754px;
        gap: 60px;
        justify-content: end;

        .header {
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: flex-start;
          height: 125px;

          .title {
            width: auto;
            color: white;
            font-size: 46px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 0.92px;
          }

          .description {
            width: 400px;
            color: white;

            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            opacity: 0.7;
          }
        }

        .featureBenefitContainer {
          display: flex;
          gap: 24px;
          height: 424px;

          .featureBenefit {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 114px 32px 90px 32px;
            width: 360px;

            .title {
              color: #ffdc60;

              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%;
              /* 33.6px */
              letter-spacing: -1.08px;
            }

            .description {
              color: white;

              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              /* 25.2px */
              letter-spacing: -0.81px;
              width: 248px;
            }
          }
        }
      }

      .blockBottom {
        display: flex;
        flex-direction: column;
        gap: 126px;

        .imageContainer {
          height: auto;
        }

        .descriptionContainer {
          margin: auto;

          .type {
            color: #7890c0;

            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 28px */
            letter-spacing: -0.9px;
          }

          .title {
            color: #ffdc60;

            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            /* 44.8px */
            letter-spacing: -1.44px;
          }

          .description {
            list-style-type: none;
            padding: 0;
            margin-top: 60px;

            li {
              p {
                color: #e0ebff;

                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 28px */
              }

              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }

  .toggleLabel {
    color: #2563eb;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 15.4px */
    letter-spacing: -0.35px;
    cursor: pointer;
  }
}

@media screen and (max-width: $sm) {
  .container {
    width: 100%;
    background-color: #001633;

    .content {
      max-width: $max-width-container;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 100px;
      padding: 0px 16px 64px 16px;

      .blockTop {
        background: none;
        display: flex;
        flex-direction: column;
        min-height: 348px;
        gap: 32px;
        justify-content: end;

        .header {
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: flex-start;
          height: 94px;

          .title {
            width: auto;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
          }

          .description {
            width: 300px;
            color: #c0d2f5;

            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 22.4px */
          }
        }

        .featureBenefitContainer {
          display: flex;
          gap: 24px;
          height: 158px;
          overflow-x: auto;

          .featureBenefit {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 12px;
            min-width: 293px;

            .title {
              color: #ffdc60;

              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%;
              /* 33.6px */
              letter-spacing: -1.08px;
            }

            .description {
              color: white;

              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              /* 25.2px */
              letter-spacing: -0.81px;
              width: 248px;
            }
          }
        }
      }
      .benefits {
        .benefit {
          margin-top: 0;
          .stickyEl {
            bottom: 0;
            .blockBottom {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              align-items: center;
              gap: 90px;
              box-sizing: border-box;

              .imageContainer {
                width: 100%;
                height: auto;
                .smartWatch {
                  width: 187px;
                  height: 187px;
                  position: absolute;
                  z-index: -1;
                  left: 10px;
                }
                .iphone {
                  width: 242px;
                  height: 488px;
                  margin: auto;
                }
                .imageWrapper {
                  width: 205px;
                  height: auto;
                  top: 23px;
                  left: 0;
                  right: 0;
                }
              }
              .rightBlock {
                height: 300px;
                .descriptionContainer {
                  margin: auto;

                  .type {
                    color: #c0d2f5;

                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: -0.63px;
                  }

                  .title {
                    color: #ffdc60;

                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%;
                    /* 28px */
                    letter-spacing: -0.5px;
                  }

                  .description {
                    list-style-type: none;
                    padding: 0;
                    margin-top: 16px;

                    li {
                      p {
                        color: var(--Light, #fff);

                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        /* 19.6px */
                      }

                      margin-bottom: 16px;
                    }
                  }

                  .toggleLabel {
                    color: #2563eb;

                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 110%;
                    /* 15.4px */
                    letter-spacing: -0.35px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
