@import "../variables.scss";

.container {
    margin: 80px auto;
    gap: 40px;
    display: flex;
    flex-direction: column;

    .banner {
        margin: auto;
        position: relative;
        width: 100%;
        height: 298px;

        .bannerImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            top: 60px;
            left: 50px;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 479px;
            height: 158px;
            color: white;

            .title {
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0.44px;
            }

            .description {
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                letter-spacing: 0.4px;
            }
        }
    }

    .latestNews {
        max-width: $max-width-container;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .titleBlock {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .left {
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                text-transform: uppercase;
                /* 88.889% */
            }

            .right {
                color: black;
                text-decoration: none;
                cursor: pointer;
                text-align: right;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                /* 114.286% */
            }
        }

        .news {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }

    .featuredProductsAndInnovations {
        max-width: $max-width-container;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title {
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            /* 88.889% */
            text-transform: uppercase;
        }

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }

    .footer {
        margin-top: 20px;
        position: relative;
        height: 230px;
        background: #0674C1;

        .content {
            margin: auto;
            max-width: $max-width-container;
            position: relative;

            .imageOneContainer {
                width: 505px;
                height: 230px;
                position: absolute;
                top: 0;
                left: 135px;

                .imageOne {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .imageTwoContainer {
                width: 590px;
                height: 285px;
                position: absolute;
                top: -28px;
                right: 0;

                .imageTwo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .textBlock {
                width: 582px;
                display: flex;
                flex-direction: column;
                gap: 14px;
                position: absolute;
                top: 49px;

                .title {
                    color: white;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    /* 88.889% */
                    text-transform: uppercase;
                }

                .description {
                    color: white;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    /* 150% */
                }
            }

        }

    }
}

@media screen and (max-width: $lg ) {
    .container {
        margin: 44px auto;
        gap: 40px;
        display: flex;
        flex-direction: column;

        .banner {
            width: 100%;
            height: auto;

            .content {
                position: static;
                margin: 20px 0px 30px 16px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 85%;
                height: 130px;
                color: white;

                .title {
                    color: black;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: 0.44px;
                }

                .description {
                    color: black;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%;
                    letter-spacing: 0.4px;
                }
            }

            .bannerImage {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .latestNews {
            width: calc(100% - 32px);
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .titleBlock {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .left {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    text-transform: uppercase;
                    /* 88.889% */
                }

                .right {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                    text-align: right;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    /* 114.286% */
                }
            }

            .news {
                display: flex;
                flex-direction: row;
                overflow-x: auto;
                gap: 20px;
            }
        }

        .featuredProductsAndInnovations {
            width: calc(100% - 32px);
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                /* 88.889% */
                text-transform: uppercase;
            }

            .content {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }

        .footer {
            margin-top: 0px;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
            height: 600px;
            display: flex;
            flex-direction: column;
            background-image: url('/images/home-footer-mb.webp');
            background-size: 100% 100%;
            gap: 40px;
            justify-content: center;
            align-items: center;

            .imageBg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .imageTwoContainer {
                width: 783px;
                height: 385px;

                .imageTwo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .textBlock {
                margin: 20px 0px 0px 16px;
                width: 95%;
                display: flex;
                flex-direction: column;
                gap: 14px;
                text-wrap: balance;

                .title {
                    color: white;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    /* 88.889% */
                    text-transform: uppercase;
                }

                .description {
                    color: white;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                    /* 150% */
                }
            }
        }
    }
}

@media screen and (max-width: $sm ) {
    .container {
        margin: 44px auto;
        gap: 40px;
        display: flex;
        flex-direction: column;

        .banner {
            width: 100%;
            height: auto;

            .content {
                position: static;
                margin: 30px 18px 20px 18px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 130px;
                color: white;

                .title {
                    color: black;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: 0.44px;
                }

                .description {
                    color: #54545C;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%;
                    letter-spacing: 0.32px;
                }
            }

            .bannerImage {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .latestNews {
            width: calc(100% - 32px);
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .titleBlock {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .left {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        /* 100% */
                    /* 88.889% */
                }

                .right {
                    color: black;
                    text-align: right;
                    text-decoration: none;
                    cursor: pointer;
                    text-align: right;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    /* 114.286% */
                }
            }

            .news {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }

        .featuredProductsAndInnovations {
            width: calc(100% - 36px);
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                /* 88.889% */
                text-transform: uppercase;
            }

            .content {
                margin: auto;
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }

        .footer {
            margin-top: 0px;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            background-image: url('/images/home-footer-mb.webp');
            background-size: 100% 100%;
            gap: 40px;
            justify-content: center;
            align-items: center;

            .imageBg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .imageTwoContainer {
                width: 392px;
                height: 211px;

                .imageTwo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .textBlock {
                margin: 20px 0px 0px 16px;
                width: 95%;
                display: flex;
                flex-direction: column;
                gap: 14px;
                text-wrap: balance;

                .title {
                    color: white;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    /* 88.889% */
                    text-transform: uppercase;
                }

                .description {
                    color: white;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    /* 150% */
                }
            }
        }
    }
}