@import "../variables.scss";
$main-font-size: 16px;
$main-font-weight: 400;
$main-line-height: 24px;
$main-letter-spacing: 0.14px;
$main-color: #54545c;
$mainBgColor: #f2f2f2;

.wrapper {
  .containerNav {
    display: none;
  }
  .container {
    padding: 40px 0px 40px 0px;
    max-width: $max-width-container;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    .sidebar {
      position: sticky;
      padding: 20px 16px;
      top: 17%;
      width: 253px;
      min-width: 253px;
      height: fit-content;
      background-color: #ffffff;
      border-radius: 10px;
      overflow-y: auto;
      height: fit-content;
      .sidebarList {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .mainTitle {
          color: #1b1b1d;
          font-size: $main-font-size;
          font-style: normal;
          letter-spacing: 1px;
          line-height: $main-line-height;
          font-weight: 500;
        }
      }
    }
    .mainTitleWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .active {
        background-color: $mainBgColor;
        color: #346af7 !important;
        cursor: pointer;
      }
      .mainTitle {
        color: #1b1b1d;
        font-size: $main-font-size;
        font-style: normal;
        font-weight: 500;
        width: 100%;
        padding: 12px 16px;
        letter-spacing: 1px;
        line-height: 16px;
        color: #1b1b1d;
        text-align: left;
        cursor: pointer;
      }
    }
    .dropdown {
      scroll-behavior: smooth;
      color: #4c5e80;
      transition: height 0.5s ease;
      overflow: auto;
      .active {
        background-color: #f2f2f2;
        color: #346af7;
        cursor: pointer;
      }
    }
    .dropdownOpen {
      height: 450px;
      overflow: auto;
      transition: height 0.3s ease;
    }

    .listContent {
      padding: 12px 16px 12px 25px;
      font-size: $main-font-size;
      font-weight: $main-font-weight;
      line-height: 16px;
      font-style: normal;
      letter-spacing: 1px;
      color: #54545c;
      text-align: left;
    }
    .listContent:hover {
      cursor: pointer;
    }
    .active {
      background-color: #f2f2f2;
      color: #346af7 !important;
      cursor: pointer;
    }
    .rightBlock {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .userManual {
        color: #346af7;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      ul {
        padding-inline-start: 10px;
        li {
          padding-inline-start: 10px;
        }
      }
      .mainTitle {
        color: #1b1b1d;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: $main-line-height;
        letter-spacing: $main-letter-spacing;
      }
      .mainContent{
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 1px;
        font-size: 18px;
        padding: 20px 0px 10px 0px;
      }
      .highlightTitle {
        color: #346af7;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 1px;
        margin: 10px 0px 20px 0px;
      }
      .textContent {
        color: #54545c;
        font-size: 14px;
        font-style: normal;
        font-weight: $main-font-weight;
        line-height: $main-line-height;
        letter-spacing: $main-letter-spacing;
      }
      .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        gap: 29px;
        .systemItem {
          width: 900px;
        }
        .item {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 10px;
          width: 433px;
          max-width: 756px;
          height: 100%;
          .wrapperGuide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            flex: 2;
            .image {
              width: 268px;
              height: 553px;
            }
            .content {
              flex: 1;
              .textContent {
                font-size: 14px;
                font-style: normal;
                font-weight: $main-font-weight;
                line-height: $main-line-height;
                height: fit-content;
                letter-spacing: $main-letter-spacing;
              }
              .title {
                color: #54545c;
                font-size: 14px;
                font-style: normal;
                margin-top: 20px;
                font-weight: 600;
                line-height: $main-line-height;
                letter-spacing: $main-letter-spacing;
              }
            }
            img {
              margin: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .wrapper {
    .containerNav {
      height: 40px;
      display: flex;
      background-color: #ffffff;
      margin-top: 100px;
      position: sticky;
      top: 100px;
      .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
        white-space: nowrap;
        a {
          text-decoration: none;
        }
        .navContent {
          text-align: center;
          padding: 8px 16px;
          font-size: 14px;
          letter-spacing: 0.02em;
          font-weight: 500;
          color: #0f244c;
        }
        .active {
          color: #346af7;
          border-bottom: 3px solid #346af7;
        }
      }
    }
    .container {
      padding: 0px 0px 30px 0px;
      .sidebar {
        display: none;
      }
      .mainTittle {
        display: none;
      }
      .rightBlock {
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        padding: 0 18px;

        .mainTitle {
          color: #1b1b1d;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: $main-line-height;
          letter-spacing: $main-letter-spacing;
          margin-bottom: 10px;
        }

        .highlightTitle {
          color: #346af7;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 1px;
        }
        .textContent {
          color: #54545c;
          font-size: 14px;
          font-style: normal;
          font-weight: $main-font-weight;
          line-height: $main-line-height;
          letter-spacing: $main-letter-spacing;
        }
        .wrapper {
          grid-template-columns: repeat(1, 1fr);
          .systemItem {
            width: 100%;
          }
          .item {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: fit-content;
            margin: auto;
            height: fit-content;
            max-width: 756px;
            .wrapperGuide {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              .textContent {
                font-size: 18px;
                font-style: normal;
                font-weight: $main-font-weight;
                line-height: $main-line-height;
                letter-spacing: $main-letter-spacing;
              }
              .title {
                display: flex;
                color: #54545c;
                font-size: 18px;
                font-style: normal;
                margin-top: 20px;
                font-weight: 600;
                line-height: $main-line-height;
                letter-spacing: $main-letter-spacing;
              }
            }
            img {
              margin: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .wrapper {
    margin-top: 0px;
    .containerNav {
      margin-top: 50px;
      height: 50px;
      display: flex;
      top: 6%;
      position: sticky;
      .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
        white-space: nowrap;
        a {
          text-decoration: none;
        }
        .navContent {
          text-align: center;
          padding: 8px 16px;
          font-size: 14px;
          letter-spacing: 0.02em;
          font-weight: 500;
          color: #0f244c;
        }
        .active {
          color: #346af7;
          border-bottom: 3px solid #346af7;
        }
      }
    }
    .container {
      .sidebar {
        display: none;
      }
      .mainTittle {
        display: none;
      }
      .rightBlock{
        .mainContent{
          padding: 10px 0px 10px 0px; 
        }
      }
      .rightContent {
        width: 90vw;
        margin: auto;
       
        .bannerImage {
          display: flex;
          flex-direction: column;
          .imgPolicy {
            width: 90vw;
            height: 241px;
          }
        }
      }
    }
  }
}
